<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
</head>
<body>
<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Sản phẩm</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Danh sách sản phẩm</a>
            </li>

            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>

            <li class="nav-item">
                <a href="#">Chi tiết sản phẩm và đánh giá</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Chi tiết sản phẩm và đánh giá</h4>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <h5>Đánh giá từ người dùng</h5>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên người dùng</th>
                            <th>Số sao</th>
                            <th>Đánh giá</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, iterStat : ${review}">
                            <td th:text="${iterStat.index + 1}">1</td>
                            <td th:text="${item.user.name}">Tên sản phẩm</td>
                            <td th:text="${item.rating}">0</td>
                            <td th:text="${item.reviewText}">0</td>
                        </tr>
                        </tbody>
                    </table>
                    <form th:object="${product}">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="productName" class="mb-3"><b>Tên sản phẩm</b></label>
                                    <div class="input-group mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                name="productName"
                                                id="productName"
                                                th:field="*{productName}"
                                                readonly
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="mb-3"><b>Mô tả sản phẩm</b></label>
                                    <div class="input-group mb-3">
                                        <div
                                                class="form-control"
                                                id="description"
                                                th:utext="*{description}"
                                                style="
                border: none;
                background-color: #f8f9fa;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 20;
                -webkit-box-orient: vertical;"
                                        ></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="price" class="mb-3"><b>Giá</b></label>
                                    <div class="input-group mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                name="price"
                                                id="price"
                                                th:field="*{price}"
                                                readonly
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="stockQuantity" class="mb-3"><b>Số lượng</b></label>
                                    <div class="input-group mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                name="stockQuantity"
                                                id="stockQuantity"
                                                th:field="*{stockQuantity}"
                                                readonly
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="metaTitle" class="mb-3"><b>Meta Title</b></label>
                                    <div class="input-group mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                name="metaTitle"
                                                id="metaTitle"
                                                th:field="*{metaTitle}"
                                                readonly
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="metaDescription" class="mb-3"><b>Meta Description</b></label>
                                    <div class="input-group mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                name="metaDescription"
                                                id="metaDescription"
                                                th:field="*{metaDescription}"
                                                readonly
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="parentCategory" class="mb-3"><b>Danh Mục</b></label>
                                    <div class="input-group mb-3">
                                        <select class="form-select" id="parentCategory" name="parentCategory" readonly="">
                                            <option value="">Không có</option>
                                            <th:block th:each="parentCategory : ${parentCategories}">
                                                <option th:value="${parentCategory.categoryId}"
                                                        th:text="${parentCategory.categoryName}"
                                                        th:selected="${parentCategory.categoryId == category.parentCategory?.categoryId}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mainImage" class="mb-3"><b>Hình ảnh chính</b></label>
                                    <div class="mb-3">
                                        <!-- Hiển thị hình ảnh hiện tại nếu có -->
                                        <div>
                                            <img th:if="${product.imageUrl != null}" th:src="@{'/product_images/main/' + ${product.imageUrl}}"
                                                 alt="Current Icon" width="100px" height="100px" />
                                            <span th:if="${product.imageUrl == null}">Không có hình ảnh chính</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subImages" class="mb-3"><b>Hình ảnh phụ</b></label>
                                    <div class="mb-3">
                                        <!-- Hiển thị hình ảnh phụ hiện tại nếu có -->
                                        <div>
                                            <ul>
                                                <li th:each="image : ${product.images}">
                                                    <img th:src="@{'/product_images/extra/' + ${image.imageUrl}}" alt="Hình phụ" width="100"/>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Input để tải lên hình ảnh mới -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a th:href="@{/admin/products/list}" class="btn btn-primary">
                        <span class="btn-label">
                          <i class="fa fa-plus"></i>
                        </span>
                            Trở về danh sách
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
