<!-- Start Categorie Area  -->
<div th:fragment="categories">
<div class="axil-categorie-area bg-color-white axil-section-gapcommon">
    <div class="container">
        <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> Thể loại sản phẩm</span>
            <h2 class="title">Duyệt theo danh mục</h2>
        </div>
        <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">
            <div class="slick-single-layout" th:each="category : ${categories}">
                <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                    <a th:href="@{'/categories/' + ${category.categorySlug}}">
                        <img class="img-fluid" th:src="@{'/category_img/' +${category.icon}}" alt="product categorie">
                        <h6 class="cat-title" th:text="${category.categoryName}"></h6>
                    </a>
                </div>
                <!-- End .categrie-product -->
            </div>
            <!-- End .slick-single-layout -->
        </div>
    </div>
</div>
</div>
<!-- End Categorie Area  -->