<!-- Start Footer Area  -->
<footer class="axil-footer-area footer-style-2" th:fragment="footer">
  <!-- Start Footer Top Area  -->
  <div class="footer-top separator-top">
    <div class="container">
      <div class="row">
        <!-- Start Single Widget  -->
        <div class="col-lg-3 col-sm-6">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Hỗ trợ</h5>
            <!-- <div class="logo mb--30">
            <a href="index.html">
                <img class="light-logo" src="/user/images/logo/logo.png" alt="Logo Images">
            </a>
        </div> -->
            <div class="inner">
              <p>123 Phạm Văn Đồng <br>
                Quận Bình Thạnh,TP.HCM <br>
              </p>
              <ul class="support-list-item">
                <li><a href="mailto:huyendao22012003@gmail.com"><i class="fal fa-envelope-open"></i> huyendao22012003@gmail.com</a></li>
                <li><a href="tel:(+84)703521574"><i class="fal fa-phone-alt"></i> (+84) 703-521-574</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-lg-3 col-sm-6">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Account</h5>
            <div class="inner">
              <ul>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="sign-up.html">Login / Register</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="shop.html">Shop</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-lg-3 col-sm-6">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Quick Link</h5>
            <div class="inner">
              <ul>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="terms-of-service.html">Terms Of Use</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
        <!-- Start Single Widget  -->
        <div class="col-lg-3 col-sm-6">
          <div class="axil-footer-widget">
            <h5 class="widget-title">Tải ngay ứng dụng</h5>
            <div class="inner">
              <span>Để nhận ưu đãi</span>
              <div class="download-btn-group">
                <div class="qr-code">
                  <img src="/user/images/others/qr.png" alt="Axilthemes">
                </div>
                <div class="app-link">
                  <a href="#">
                    <img src="/user/images/others/app-store.png" alt="App Store">
                  </a>
                  <a href="#">
                    <img src="/user/images/others/play-store.png" alt="Play Store">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Widget  -->
      </div>
    </div>
  </div>
  <!-- End Footer Top Area  -->
  <!-- Start Copyright Area  -->
  <div class="copyright-area copyright-default separator-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-4">
          <div class="social-share">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-discord"></i></a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="copyright-left d-flex flex-wrap justify-content-center">
            <ul class="quick-link">
              <li>© 2024. Thế giới công nghệ <a target="_blank" href="#"></a>.</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
            <span class="card-text">Chấp nhận thanh toán</span>
            <ul class="payment-icons-bottom quick-link">
              <li><img src="/user/images/icons/cart/cart-1.png" alt="paypal cart"></li>
              <li><img src="/user/images/icons/cart/cart-2.png" alt="paypal cart"></li>
              <li><img src="/user/images/icons/cart/cart-5.png" alt="paypal cart"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Copyright Area  -->
</footer>
<!-- End Footer Area  -->