<div class="service-area" th:fragment="services">
    <div class="container">
        <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="/user/images/icons/service1.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Giao hàng nhanh chóng &amp; an toàn</h6>
                        <p>Hãy nói về yêu cầu của bạn</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="/user/images/icons/service2.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Đảm bảo hoàn tiền</h6>
                        <p>Trong vòng 10 ngày.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="/user/images/icons/service3.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Chính sách hoàn trả 24 giờ</h6>
                        <p>Không có câu hỏi.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="/user/images/icons/service4.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Hỗ trợ chất lượng chuyên nghiệp</h6>
                        <p>Hỗ trợ 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>