
    <div class="row align-items-center" th:fragment="slider">
        <div class="col-lg-5 col-sm-6">
            <div class="main-slider-content">
                <div class="slider-content-activation-one">
                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi tai nghe không dây Roco trong tuần này</span>
                        <h1 class="title">Tai nghe không dây Roco</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="shop.html" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi hấp dẫn trong tuần này</span>
                        <h1 class="title">Đồng hồ thông minh</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="shop.html" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi hấp dẫn trong tuần này</span>
                        <h1 class="title">Tai nghe không dây Roco</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="shop.html" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi hấp dẫn trong tuần này</span>
                        <h1 class="title">Đồng hồ thông minh</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="shop.html" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-6">
            <div class="main-slider-large-thumb">
                <div class="slider-thumb-activation-one axil-slick-dots">
                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                        <img src="/user/images/product/product-38.png" alt="Product">
                        <div class="product-price">
                            <span class="text">From</span>
                            <span class="price-amount">$49.00</span>
                        </div>
                    </div>
                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                        <img src="/user/images/product/product-39.png" alt="Product">
                        <div class="product-price">
                            <span class="text">From</span>
                            <span class="price-amount">$49.00</span>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <img src="/user/images/product/product-38.png" alt="Product">
                        <div class="product-price">
                            <span class="text">From</span>
                            <span class="price-amount">$49.00</span>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <img src="/user/images/product/product-39.png" alt="Product">
                        <div class="product-price">
                            <span class="text">From</span>
                            <span class="price-amount">$49.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>