<!-- Start Why Choose Area  -->
<div class="axil-why-choose-area pb--50 pb_sm--30" th:fragment="why_choose">
    <div class="container">
        <div class="section-title-wrapper section-title-center">
            <span class="title-highlighter highlighter-secondary"><i class="fal fa-thumbs-up"></i>Tại sao nên chọn chúng tôi</span>
            <h2 class="title">Tại sao mọi người chọn chúng tôi</h2>
        </div>
        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20">
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img src="/user/images/icons/service6.png" alt="Service">
                    </div>
                    <h6 class="title">Giao hàng nhanh chóng &amp; và an toàn</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img src="/user/images/icons/service7.png" alt="Service">
                    </div>
                    <h6 class="title">100% hàng chính hãng</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img src="/user/images/icons/service8.png" alt="Service">
                    </div>
                    <h6 class="title">Chính sách hoàn trả 24 giờ</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img src="/user/images/icons/service9.png" alt="Service">
                    </div>
                    <h6 class="title">Chính sách hoàn trả 24 giờ</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img src="/user/images/icons/service10.png" alt="Service">
                    </div>
                    <h6 class="title">Tư vấn chuyên nghiệp</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Why Choose Area  -->